<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
    td {
      padding: 0;
    }
    .cell {
      width: 20px;
      height: 20px;
      background: #eee;
    }
    .cell.enabled {
      background: #afa;
    }
    #sidebar {
      height: 160px;
      width: 250px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #efefef;
      padding: 20px;
    }
    #sidebar button {
      width: 100%;
    }
    </style>
  </head>
  <body>
    <table>

    </table>
    <div id="sidebar">
      <button id="next" name="next">Następna generacja</button>
      <input type="checkbox" id="repeat" name="repeat"><label for="repeat">Powtarzaj</label>
    </div>
    <script>
      repeatLoop = null
      couldrepeat = false
      for(i = 0; i<40; i++) {
        $('<tr></tr>').appendTo('table')
      }
      for(i = 0; i<60; i++) {
        $('<td></td>').appendTo('tr')
      }
      $('<div class="cell"></div>').appendTo('td')
      mouseisdown = false
      document.body.onmousedown = () => mouseisdown = true
      document.body.onmouseup = () => mouseisdown = false
      $('.cell').on("mousedown", function(e) {
        this.classList.toggle("enabled")
      })
      $('.cell').on("mouseover", function(e) {
        if (mouseisdown)
          this.classList.toggle("enabled")
      })
      async function gen(dane) {
        let a = await $.post( "https://skica-gol.herokuapp.com/przelicz", JSON.stringify({"plansza": dane}))
        return a["przeliczona_plansza"]
      }
      async function step(){
        console.log(couldrepeat)
        let dane = []
        $("tr").each(function() {
          let subdane = []
          $(this).find("td .cell").each(function() {
            subdane.push(this.classList.contains("enabled"))
          })
          dane.push(subdane)
        })
        let nowedane = await gen(dane)
        $("tr").each(function(i) {
          let subdane = nowedane[i]
          $(this).find("td .cell").each(function(j) {
            this.classList.remove("enabled");
            if(subdane[j])
              this.classList.add("enabled")
          })
        })
      }

      $('#next').on("click", function(e) {
        if (couldrepeat){
          if (repeatLoop == null)
            repeatLoop = window.setInterval(step, 1000);
          else {
            clearInterval(repeatLoop)
            repeatLoop = null
          }
        }
        else
          step()
      })
      $("#repeat").on("change", function() {
        couldrepeat = !couldrepeat
        if(!couldrepeat){
          clearInterval(repeatLoop)
          repeatLoop = null
        }
      })
    </script>
  </body>
</html>
